/* comentarios sobre el css */

* {
	padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


header{
	margin: 0px;
    background-color: rgb(237, 239, 240);
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
}


body {
	background-color: #fff;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.contenedor header .logo{
	align-items: flex-end;
	max-height: 60px;
	max-width: 60px;
	margin-right: 2,5px;
	border:solid #1da1f2;
}

.contenedor header .menu a {
	color: #1da1f2;
	text-decoration: none;
	margin-left: 25px;
	font-size: 18px;
	overflow: visible;
	padding: 20px 0;
	list-style: none;
	
}

header .menu a:hover {
	text-decoration: underline;
}

header .nombre {
	flex-direction: row;
	align-items: flex-end;
	padding: 0 5px;
	font-family: 'Dancing Script', cursive;
}


.Marca {
	font-family: 'Times New Roman', Times, serif;
	float: right;
}

.contenedor {
	margin: auto;
    width: 90%;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	
}

h2 {
	margin-top: 10px;
	margin-bottom: 5px;
}


.contenedor .main {
	text-align: center;
}

.contenedor .main .imagen img {
	overflow: hidden;
	width: 100%;
	vertical-align: top;
	padding: 0 0 0;
	max-height: 600px;
	
} 

.contenedor .main .YO {
	overflow: visible;
	margin-top: -80px;
	
}

.contenedor .main .YO img {
	border-radius: 100px;
	vertical-align: top;
	border-radius: 50%;
	border: 5px solid lightskyblue;

}
/* aside trabajos */

aside {
	width: 100%;
	margin-top: 45px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

aside .titulos {
	padding: 20px 0;
}

aside .widget .certif a {
	padding:10px 5px;
	justify-content: space-around;
	
}

aside .widget p {
	padding: 0px 0px;
	margin: 20px;
}


aside .trabajos {
	background: #f1f5fa;
	padding: 45px 0;
}

aside .trabajos .contenedor {
	overflow: hidden;
}

aside .trabajos .titulo {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #323068;
	text-align: center;
}

aside .trabajos .contenedor-trabajos {
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}

aside .trabajos .contenedor-trabajos .trabajo{
	width: 23%;
	margin-bottom: 40px;
}

aside .trabajos .contenedor-trabajos .trabajo .thumb {
	width: 100%;
	margin-bottom: 10px;
}

aside .trabajos .contenedor-trabajos .trabajo .thumb img {
	width: 100%;
	vertical-align: top;
	border-radius: 3px;
}

aside .trabajos .contenedor-trabajos .trabajo .descripcion {
	text-align: center;
}

aside .trabajos .contenedor-trabajos .trabajo .descripcion .nombre {
	font-weight: 500;
	color: #3895ea;
	margin-bottom: 10px;
	text-decoration: underline;
	font-family: 'EB Garamond', serif;
}

aside .trabajos .contenedor-trabajos .trabajo .descripcion .categoria {
	font-size: 14px;
	color:#636363;
}



/* footer */

footer {
	width: 100%;
	align-content: center;
	
}
footer .redes-sociales {
	background: #1e2b38;
	padding: 60px 0;
}

footer .redes-sociales .contenedor {
	display: flex;
	justify-content:center;
}

footer .redes-sociales a {
	color: #fff;
	text-align: center;
	width: 100px;
	display: block;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 30px;
	margin: 0 20px;
}

footer .redes-sociales .twitter:hover {	background: #1da1f2; }
footer .redes-sociales .facebook:hover { background: #3b5998; }
footer .redes-sociales .mail:hover {	background: #cd201f; }
footer .redes-sociales .github:hover { background: #666666; }
footer .redes-sociales .instagram:hover { background: #3f729b; }


/* ----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 900px) {
	.contenedor header .menu {
		text-align: center;
	}

	aside .trabajos .contenedor-trabajos .trabajo {
		width: 46%;
	}
	aside .trabajos .contenedor-trabajos .trabajo .descripcion p {
		font-size: 25px;
	}
}

@media screen and (max-width: 500px) {
	.contenedor .main .posts h2 {
		font-size: 30px;
	}

	.contenedor .main .posts p {
		font-size: 20px;
	}

	.contenedor aside .trabajos .contenedor .contenedor-trabajos .trabajo .descripcion p {
		font-size: 15px;
	}

	.contenedor footer .redes-sociales .contenedor {
		flex-wrap:wrap;
		padding: 20px 0;
	}

	.contenedor header .logo{
		max-width: 30px;
		max-height: 30px;
		border: solid 2px #1da1f2;

	}
}


